
body

{
    font-family: 'Raleway', sans-serif;
    display: block;
}


        /*  Mediaqueries mobile version <750px  */


@media screen and (max-width: 700px)
{
    body
    {
        margin: 0;
    }
    header
    {
        padding-top: 5px;
        width: 100%;
        display: block!important;
    }
    .top-header
    {
        display: flex!important;
        justify-content: space-between;
        margin: 20px 20px;
    }
    .bottom-header ul
    {
        border-bottom: #F2F2F2 solid 2px;
    }
    #mobile-logo
    {
        width: 100px;
        height: 50px;
    }
    a.register-mobile
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #0065FC;
        font-size: 1.2em;
        font-weight: bold;
    }
    #desktop-logo
    {
        display: none;
    }
    nav.mobile-nav
    {
        display: block!important;
    }


    .bottom-header
    {
        font-size: 0.8em;
    }
    .accomodation
    {
        width: 100%!important;
        text-align: center;
        padding: 0 0 15px 0;
    }
    .accomodation a:link
    {
        text-decoration: none;
        color: #000;
    }
    .accomodation a:visited
    {
        color: #000;
    }
    .accomodation a:hover
    {
        border-bottom: #0065FC solid 2px;

    }
    .activity
    {
        width: 100%!important;
        text-align: center;
        padding: 0 0 15px 0;
    }
    .activity a:link
    {
        text-decoration: none;
        color: #000;
    }
    .activity a:visited
    {
        color: #000;
    }
    .activity a:hover
    {
        border-bottom: #0065FC solid 2px;

    }
    h1
    {
        font-size: 1.3em;
    }
    #category
    {
        padding: 0 15px;
    }
    .filtres li 
    {
        margin: 0 1px 5px 1px!important;
    }
    #hébergements
    {

        width: 100%;
        margin: 0!important;
        flex-wrap: wrap;
    }
    i.search-icon  /*icone loupe*/
    {
        display: block!important;
    }
    .text-searchbutton
    {
        display: none;
    }

    .desktop-nav
    {
        display: none!important;
    }
    .filtres
    {
        display: block;
        flex-wrap: wrap;
    }
    section.cool /*section hebergement*/
    {
        width: 100%!important;
        background-color: white!important;
        padding: 0!important;
        order: 2!important;
        margin: 0 10px!important;
    }
    .heb-article
    {
        display: block!important;
        width: 100%;
        padding: 0!important;
    }
    .heb-article article
    {
        width: 100%!important;
    }
    section.populaire:nth-child(2)
    {
        width: 100%!important;
        padding: 0!important;
        border-radius: inherit!important;
        order: 1!important;
    }
    .art-pop
    {
        width: 100%!important;
        font-size: 0.9em;
    }
    .art-pop article
    {

    }
    .act-articles img
    {
        width: 100%!important;
        height: 100px!important;
    }

    .text-populaire p 
    {
        margin: 0!important;
    }
    .pop-infos
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .text-populaire h3
    {
        margin: 0;
        font-size: 1em;
    }
    .text-populaire p
    {
        margin: 0;
    }
    #activités
    {
        display: block!important;
        overflow: hidden!important;
        margin: 0 15px!important;
    }
    .act-articles
    {
        display: block!important;
        width: 100%!important;
        margin: 0!important;
    }
    .act-articles article
    {
        width: 100%!important;
        margin: 0 0 20px 0!important
    }
    .simple
    {
        width: 100%!important;
    }
    .double
    {
        width: 100%!important;
    }
    
    #container
    {
        display: block!important;
        margin: 0!important;
        padding: 40px 0;
    }
    .infos
    {
        margin: 0!important;
    }
}

        /*  Fin mediaqueries mobile version */


        /*  Mediaqueries tablet version <850px  */


@media screen and (min-width: 751px) and (max-width: 1024px)
{
    .filtres li
    {
        margin: 0 10px 10px 0!important
    }
    #hébergements
    {
        display: block!important;
    }
    section.cool
    {
        margin: 0!important;
        width: inherit!important;
    }
    .cool article
    {
        width: 29%!important;
    }
    section.populaire
    {
        background-color: inherit!important;
    }
    .art-pop img
    {
        width: 250px!important;
    }
    .act-articles
    {
        flex-wrap: wrap!important;
    }
    .act-articles article
    {
        margin: 0 0 30px 0!important;
    }
    .simple 
    {
        margin: 0 0 10px 0!important;
    }
    .simple img 
    {
        height: 350px!important;
    }
    .double 
    {
        width: 50%!important;
    }
    .infos 
    {
        margin-right: 20px!important;
        font-size: 0.9em!important;
    }
}




        /*  Fin mediaqueries tablet version  */

        /*  Header  */

header  
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul
{
    display: flex;
    list-style: none;
    font-size: 1.3em;
    color: #0065FC;
}
.nav-list /* liste menu navigation */
{
    margin-right: 30px;
    color: black;
}

.nav-list a:link /* ancres vers les sections */
{ 
    text-decoration: none;
    padding-top: 25px;
    color: #000;
} 

.nav-list a:visited /* ancres du menu visitée */
{
    color: black;
}
.nav-list a:hover /*pour survol des ancres du menu*/
{
    color: #0065FC;
    border-top: solid 2px #0065FC;

}


#desktop-logo
{
    width: 100px;
    height: 50px;
    padding-left: 30px;
}  /*fin header */
nav.desktop-nav
{
    display: flex;
    align-items: center;
    margin: 0 40px 0 0;
}
nav.mobile-nav
{
    display: none;
}
.register
{
    font-size: 1.3em;
    color: #0065FC;
}

.register a:visited
{
    color: #0065FC;
}
.register a:link
{
    text-decoration: none;
}
#category /* 1ere section */
{
    padding-left: 30px;
}
form /* contient icon map champ et button */
{
    display: flex;

}
.formulaire /* champ */
{
    
    border: #F2F2F2 solid 1px;

}
.map-marker /* icon du formulaire */
{
    display: inline-block;
    background-color: #F2F2F2;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}



::placeholder /*Marseille, france*/
{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
}
i.search-icon  /*icone loupe pour version mobile*/
{
    display: none;
}

.category-icons /* icon des filtres */
{
    display: inline-block;
    line-height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    font-size: 1.2em;
    color: #0065FC;
    background-color: #DEEBFF;
    margin: 0 20px 0 -2px;
}
.filtres /*h2 filtres et ul de la 1ere section*/
{
    display: flex;
    align-items: center;    
}
.filtres ul
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 1.2em;
    list-style: none;
    padding: 0;
}

.filtres li
{
    border: #F2F2F2 solid;
    margin: 0 30px 0 20px;
    padding: 0 20px 0 0;
    border-radius: 30px;

}
.filtres li:hover
{
    background-color: #0065FC;
}
.filtres h2
{

    align-items: center;
    text-align: justify;
    height: 32px;
}


#search-button  /*bouton de recherche formulaire 1ere section*/
{

    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    border: none;
    
}
#infos
{
    display: flex;
    align-items: center;
}

.info-icon
{
    color: #0065FC;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid #F2F2F2;
    border-radius: 100%;
    margin-right: 1%;
}

#hébergements
{
    display: flex;
    margin: 40px 30px 30px 30px;
        /* utilise margin et padding*/

    
}



section.cool /*2e section*/
{

    width: 90%;
    margin: 0 30px 0 0;
    padding: 0 0 0 30px;

}

.cool a
{
    text-decoration: none;
    color: inherit;
}
.cool h2
{
    margin: 0;
    padding: 40px 0 20px 15px;
}
.cool article /*article section hebergement*/
{
    width: 30%;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 25px 30px 0;
    box-shadow: 0 5px 16px #0000002e;

}


.heb-article img /*images section hebergements*/
{

    background-color: white;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    width: 100%;
    height: 140px;
    object-fit: cover;
    
    

}
.text-hebergement *
{
    margin: 0;
}
.text-hebergement
{
    padding: 0 0 0 10px;
}

section.cool, section.populaire /*regroupe les 2e et 3e sections*/
{
    background-color: #F2F2F2;
    border-radius: 20px;


}
.title
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.blue
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}



section.populaire /*3e section*/
{
    padding: 0 30px; /* utilise margin et padding*/
}

.text-populaire
{
    position: relative;
    padding: 0 0 0 10px;
}
.text-populaire h3
{
    margin: 0;
}
.text-populaire p
{
    margin: 0 0 50px 0;
}
.pop-infos
{
    margin: 10px 0 0 0;
}
.pop-stars
{
    position: absolute;
    bottom: 10px;
}

.chart-line-icon
{
    font-size: 1.5em;
    color: black;
} 
.heb-article  /*class pour les 3 premiers et les 3 derniers articles de la 1ere section*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 0 0;
    /* utilise margin et padding*/
    
    
}



.art-pop
{
    /*utiliser margin padding*/

}
.art-pop article/*article section populaire*/
{
    display: flex;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 5px 20px 5px;
    box-shadow: 0 5px 16px #0000002e;
}
.art-pop a
{
    text-decoration: none;
    color: inherit;
    display: flex;
}
.art-pop img /* images des articles section populaire*/
{
    width: 150px;
    height: 150px ;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px 0 5px 5px;
}

#activités  /*4e section*/
{
    margin: 50px 30px 50px 30px;
/*supprimer flex inutile*/
}
.simple
{

    width: 310px;
}
.double
{
    width: 23%;
}

.simple img
{
    height: 440px;

}
.act-articles /* div tous les articles*/
{
    display: flex;
    
    
    
    justify-content: space-between;
    margin: 30px 0 50px 0;
    box-sizing: border-box;

}
.act-articles a:link
{
    text-decoration: none;
    color: #000;
}
.act-articles a:visited /* ancres du menu visitée */
{
    color: black;
}
.act-articles img
{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

img.img2act
{
    height: 200px;
}
img.img3act
{
    height: 110px;
}
img.img5act , img.img6act
{
    height: 140px;
}
.act-articles article 
{
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
}
.act-articles h3
{
    padding: 10px 0 15px 20px;
    margin: 0;
}
article.fortpomegues
{
    margin: 0px 0px 60px;
}
article.notredame
{
    margin: 0 0 90px;
}
.simple img, .double img/*images activités a marseille */
{
    object-fit: cover;
}
footer /*footer*/
{
    background-color: #F2F2F2;
    font-size: 1.2em;
}
#container
{
    display: flex;
    margin-left: 50px;


}
.infos
{
    margin-right: 250px;
    padding-left: 20px;
}
.infos ul
{
    list-style: none;
    text-align: left;
    padding-left: 0;
}